
/* .login-form{
} */

.login-icon{
  width: 30px;
  height: 30px;
}

.login-form .name-login{
  font-size: 30px;
  left: 0;
  text-align: left; /* Align the text to the left */
  margin-left: 0;
  float: left;
  padding-top: 100px;
}

.login-form .button-half {
  width: 50%;
  height: 100%;
  float: left;
}

.button-half.login {
  background-color: #fff;
}

.button-half.register {
  background-color: #000;
}

.login-form .btn-group{
  margin-top: 100px;
  position: relative;
  align-items: right;
}