intuitive.css

/* Styles for the container */
.detail-bird-page-component-containter {
  margin-top: 250px;
}

.detail-bird-page-component-detail {
  background-color: #ffffff;
}

/* Styles for the bird image section */
.detail-bird-page-component-containter img {
  width: 100%;
  max-height: 500px;
}

.detail-bird-page-component-containter .image-slider {
  height: 200px;
  margin-top: 10px;
  display: flex;
  gap: 5px;
  overflow-x: auto;
  align-items: center;
}

.detail-bird-page-component-containter .slider-image {
  width: 150px;
  height: 150px;
  gap: 5px;
}

/* Style for the selected image border */
.detail-bird-page-component-containter .selected-image {
  border: 2px solid #e9034f;
}

/* Styles for the next/previous buttons */
.detail-bird-page-component-containter .selected-image-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.detail-bird-page-component-containter
  .selected-image-container
  .icon-prev-img {
  width: 50px;
  height: 50px;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 10;
  background-color: #eeeeee;
  opacity: 0.5;
}

.detail-bird-page-component-containter
  .selected-image-container
  .icon-next-img {
  width: 50px;
  height: 50px;
  font-size: 25px;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 10;
  background-color: #eeeeee;
  opacity: 0.5;
}

/* Styles for the bird information section */
.detail-bird-page-component-containter .bird-info {
  padding: 16px;
}

/* Styles for the description text */
.detail-bird-page-component-containter .description {
  margin-top: 16px;
}

/* Style for the "Add to Cart" button */
.detail-bird-page-component-containter .add-to-cart {
  margin-top: 16px;
}

.price-container {
  width: 90%;
  height: 56px;
  position: relative;
  margin-bottom: 50px;
  margin-top: 80px;
  /* margin-left: 50px; */
}

.price-container--sub1 {
  background-color: #fff;
  border-radius: 1px;
  content: "";
  display: block;
  height: 24px;
  position: absolute;
  left: 0;
  top: 16px;
  transform: rotate(-315deg);
  box-shadow: 0 2px 4px rgba(55, 55, 55, 0.1), 0 3px 6px rgba(24, 36, 55, 0.15);
  width: 24px;
}

.price-container--sub2 {
  background-color: #fff;
  content: "";
  display: block;
  border-radius: 10px;
  position: absolute;
  align-items: center;
  box-shadow: 0 2px 4px rgba(55, 55, 55, 0.1), 0 3px 6px rgba(24, 36, 55, 0.15);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-left: 10px;
  z-index: 99;
}

.detail-bird-page-component-containter .button-add-to-card {
  width: 100%;
  height: 50px;
  border-radius: 60px;
  background-color: var(--sec-bg-color);
  margin-bottom: 20px;
}

.detail-bird-page-component-containter .button-add-to-card:hover {
  background-color: var(--sec-bg-color);
  transform: scale(1.05);
  /* Increase the size by 20% on hover */
  transition: transform 0.3s;
  /* Add a transition effect for the scale */
  cursor: pointer;
}

.detail-bird-component--card-container {
  display: flex;
  overflow-x: auto;
  height: 300px;
  width: 100%;
  margin-top: 20px;
}

.detail-bird-component--card {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.detail-bird-component--card:hover {
  transform: scale(1.1);
  /* Increase the size by 20% on hover */
  transition: transform 0.3s;
  /* Add a transition effect for the scale */
  cursor: pointer;
}

.detail-bird-page--banner {
  width: 100%;
  height: 400px;
}
#bird-detail {
  width: 90%;
  height: 100%;
  margin-left: 5rem;
  margin-right: 5rem;
  /* text-align: center; */
  margin-top: 2rem;
}
#bird-detail h1 {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}
#bird-detail h2 {
  text-align: left;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: rgb(238, 68, 68);
}
#bird-card {
  width: 100%;
  height: 100%;
}

.bird-image {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.carousel {
  height: 490px;
}

.bird-name {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.bird-info {
  margin: 20px 30px;
}
.bird-info h4 {
  font-size: 1.1rem;
  text-align: start;
  margin-bottom: 10px;
}
.bird-info p {
  text-align: start;
}
.bird-info > div > div {
  padding-left: 2rem;
}
.bird-info > div > div:first-child {
  border-right: 1px solid #ccc;
}
.bird-info > div:first-child {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
#addToCart {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #ccc;
  background-color: black;
  color: white;
  padding: 10px 0;
  text-align: center;
  font-weight: bold;
}
#addToCart:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
