.social__link-icon {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.2rem;
}

.contact__btn {
    padding: 7px 15px;
    background: black;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
}

.description h6 {
    font-size: 1.2rem;
    color: black;
    font-weight: 600;
    margin-bottom: 0;
}

section {
    padding: 50px 0px;
}

.section__description {
    color: #7c8a97;
    font-size: 0.9rem;
    line-height: 30px;
}